/* --- GLOBAL --- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
}
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: 250px;
    height: 250px;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 70px;
}

header {
    background-color: #2a2a2a;
    color: white;
}

section {
    padding: 20px;
}

.titulo-principal{
    text-align: center;
    padding: 30px;
    font-size: 60px;
}

/* --- CABEÇALHO --- */
.container-cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav li {
    display: inline;
    margin-right: 20px;
    font-size: 25px;
}

/* --- BANNER --- */
.img-banner {
    width: 100%;
}

/* --- SEÇÃO PRINCIPAL --- */
.utencilios {
    width: 120px;
    height: 120px;
    margin-right: 20px;
}

.container-sobre {
    display: flex;
    width: 70%;
    margin: 0 auto;
}
.container-sobre p{
    margin-bottom: 10px;
}

/* --- SEÇÃO PRODUTOS --- */
#secao-produtos {
    background-color: white;
}

.produtos {
    display: flex;
    width: 940px;
	margin: 0 auto;
	
}

.produtos li {
    margin: 0 1.5%;
    text-align: center;
    padding: 30px 20px;
	border: 2px solid #000000;
    border-radius: 10px;
}

.produto-preco {
    font-size: 20px;
    font-weight: bold;
}

/* --- SEÇÃO TABELA --- */
table {
    margin: 0 auto;
    text-align: center;
}

/* --- SEÇÃO LOCALIZAÇÃO --- */
.secao-local {
    background-color: white;
}
.mapa {
    width: 940px;
    margin: 0 auto;
}

/* --- SEÇÃO BENEFÍCIOS --- */
.conteudo-beneficios {
    display: flex;
    width: 640px;
    margin: 0 auto;
}
.lista-beneficios {
    width: 40%;
}

.itens {
    line-height: 1.5;
}

.itens:before {
	content: "🟊";
}

.imagem-beneficios {
    width: 60%;
    box-shadow: 10px 10px 10px 0 #000000;
}

.video {
    text-align: center;
    padding: 40px; 
}

/* --- SEÇÃO RODAPÉ --- */
footer {
    background-color: #262626;
    color: white;
    text-align: center;
    padding: 20px;
}